
/********** BODY**********/

body{
    background-image: url('/img/bg-tablet-pattern.svg');
    background-repeat: repeat-y;
    background-position: right;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0px;
}

/********** HEADER **********/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    margin-bottom: 30px;
}

#menuIcon{
    display: none;
}

nav ul{
    display: flex;
    list-style: none;
    color: rgb(35, 44, 81);
}

ul li, a{
    margin: 10px;
    text-decoration: none;
}

ul a:visited{
    color: rgb(35, 44, 81);
}

ul a:hover{
    color: rgb(143, 148, 167);
}

button{
    background-color: rgb(242, 95, 58);
    color: white;
    border-radius: 50px;
    font-size: 16px;
    border: none;
    padding: 10px 30px;
}

button:hover{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    background-color: rgb(143, 148, 167);
}

/*********** SECTION: INTRO **********/

#sectionIntro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    margin-bottom: 30px;
}

h1{
    font-size: 72px;
    margin-bottom: 20px;
    color: rgb(29, 30, 37);
}

p{
    font-size: 16px;
    margin-bottom: 30px;
    color: rgb(35, 44, 81);
}

/********** SECTION: FEATURE **********/

#sectionFeatures{
    display: flex;
    padding: 5px 80px;
    color: rgb(35, 44, 81);
}

h2{
    font-size: 42px;
    color: rgb(35, 44, 81);
    padding: 10px;
}

.feature{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#featureOne::before{
    content: "01";
    background-color: rgb(242, 95, 58);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
}

#featureTwo::before{
    content: "02";
    background-color: rgb(242, 95, 58);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
}

#featureThree::before{
    content: "03";
    background-color: rgb(242, 95, 58);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
}

/********* SCETION: COMMENTS - CARDS **********/

#sectionComments{
    text-align: center;
}

#cards{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 30%;
    background-color: rgb(249, 249, 249);
    position: relative;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.card img{
    position: absolute;
    top: -75%;
    right: 33%;
    margin-top: 100px;
}

.card h3{
    margin-top: 80px;
}

/***** SECTION: BANNER ******/

#sectionBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-image: url('/img/bg-simplify-section-desktop.svg');
    background-color: rgb(242, 95, 58);
    padding: 10px 30px;
    margin-top: 30px;
}

#sectionBanner button{
    background-color: white;
    color: rgb(242, 95, 58);
    border-radius: 50px;
    font-size: 16px;
    border: none;
    padding: 10px 30px;
}

#sectionBanner button:hover{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    background-color: rgb(143, 148, 167);
    color: white;
}

/***** FOOTER *****/

footer{
    background-color: rgb(30, 30, 38);
    display: flex;
    justify-content: space-around;
    padding: 60px;
    color: white;
}

#socialNetworks{
    display: flex;
    list-style: none;
    align-items: center;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer a:visited{
    color: white;
}

footer a:hover{
    color: rgb(242, 95, 58);
}

form{
    display: flex;
    align-items: flex-start;
}

#email, #submitButton{
    margin-right: 10px;
    border-radius: 30px;
    border-style: none;
    padding: 5px 15px;
}

#email:focus{
    outline: none;
}

#email:invalid{
    border-color: red;
    margin-bottom: 10px;
}

#email:invalid + span::after{
    content: "Please insert a valid email";
    color: red;
}

#addEmail{
    display: flex;
    flex-direction: column;
}

.feedback{
    margin: 5px;
}





